<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<div layout:fragment="content" class="container">
    <h1>Thymeleaf 예제</h1>
    <table class="table table-striped">
        <tr>
            <th>이름</th>
            <th>가격</th>
        </tr>
        <tr th:each="entry : ${mapList}">
            <td th:text="${entry.key}"></td>
            <td th:text="${entry.value}"></td>
        </tr>

    </table>
</div>
</html>
