<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sample.mybatis.mapper.MyBatisSampleMapper">

    <resultMap id="boardResultMap" type="com.sample.mybatis.domain.BoardVO">
        <id column="BNO" property="bno"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="REGDATE" property="regdate"/>
        <result column="BTYPE" property="btype" javaType="com.sample.mybatis.enums.BoardType" jdbcType="VARCHAR"
                typeHandler="com.sample.mybatis.enums.BoardType$TypeHandler"/>
    </resultMap>

    <select id="getTime" resultType="string">
        SELECT CURRENT_TIME
    </select>

    <select id="getInt" resultType="int">
        SELECT 2
    </select>

    <select id="getBoardAll" resultMap="boardResultMap">
        SELECT BNO
             , TITLE
             , CONTENT
             , REGDATE
             , BTYPE
        FROM BOARD_TBL
    </select>

    <select id="getBoardByBno" resultMap="boardResultMap">
        SELECT BNO
             , TITLE
             , CONTENT
             , REGDATE
             , BTYPE
        FROM BOARD_TBL
        WHERE BNO = #{bno}
    </select>

    <insert id="insertBoard">
        INSERT INTO BOARD_TBL(TITLE, CONTENT, REGDATE, BTYPE)
        VALUES (#{title}, #{content}, #{regdate}, #{btype, jdbcType=VARCHAR})
    </insert>

    <insert id="insertStatus">
        INSERT INTO STATUS_TBL(STYPE)
        VALUES (#{stype})
    </insert>

</mapper>