<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.mempoi.app.UserMapper">

    <select id="findAllUsers" resultType="dev.mempoi.app.User">
        SELECT id, username, age, birth_date as birthDate
        FROM users
        ORDER BY id
    </select>

    <select id="findById" parameterType="Long" resultType="dev.mempoi.app.User">
        SELECT id, username, age, birth_date as birthDate
        FROM users
        WHERE id = #{id}
    </select>

    <select id="findByAgeGreaterThan" parameterType="int" resultType="dev.mempoi.app.User">
        SELECT id, username, age, birth_date as birthDate
        FROM users
        WHERE age > #{age}
        ORDER BY age, id
    </select>

</mapper>
